.payment-container {
    background-color: rgb(241, 239, 239);
    

    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-box {
 width: 50%;
 margin: 100px;
 border: 1px solid gray;
 background-color: white;
}